body{
font-style: Helvetica, sans-serif;
background-image:url("pattern.png");
}

#wrapper{
width:77%;
text-align:center;
padding:3%;
margin-top:33px;
margin-bottom:33px;
background-color:whitesmoke;
}

#frame{
margin-left:auto;
margin-right:auto;
height:470px;
}

.photo{
width:100%;
height:100%;
background-image:url("cohort.png");
background-position:center;
}

.legend{
font-color:#95484B;
text-align:center;
background-color:white;
font-weight:bold;
width:50%;

}

.logo{
width:11%;
padding:30px;
}

.header{
margin:9px;
background-image: linear-gradient(top to bottom, #95484B, #AF595C, #6F3032);
}

nav{
margin-top:-15px;
text-align:center;
text-size:130%;
}

footer{
padding-top:1em;
padding-bottom:1em;
text-align:center;
}

a:link{
text-decoration:none;
border:3px;
border-color:white;
background-color:#95484B;
font-color:white;
padding:0.2em;
}

&#x2764{
font-color:deeppink;
}
